@import url('https://fonts.googleapis.com/css2?family=Slackey&display=swap');

* {
  margin: 0;
  padding: 0;
}

/* ================= PÁGINA INICIAL ================= */
.pagina-inicial {
  background-image: url("/static/img/pagina-inicial.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  font-family: 'Slackey', cursive;
  color: white;

  display: flex;
  flex-direction: column;
  align-items: center;

  /* Agora funciona corretamente */
  justify-content: flex-start;

  /* Ajusta a altura e deixa espaço no topo */
  min-height: 100vh;
  padding-top: 150px;

  margin: 0;
  box-sizing: border-box;
  max-width: 100%;
}


.pagina-inicial header  {
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
  background: #33562C;
  position: fixed;
  width: 100%;
  height: 60px;
  top: 0;
  left: 0;
  z-index: 1000;
}

.pagina-inicial .header-container {
  display: flex;
  align-items: center;
  height: 100%;
  padding-left: 20px;
}

.pagina-inicial .logo-pygreen {
  max-width: 100%;
  height: auto;
  width: 150px;
}

.pagina-inicial .content-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin: 0;       
  padding: 20px;
}
.pagina-inicial .bemvindo {
  font-size: clamp(2rem, 5vw, 4rem);
  margin-bottom: 10px;
}

.pagina-inicial .text-entrada1 {
  font-size: clamp(1rem, 2vw, 1.5rem);
  margin-bottom: 20px;
  max-width: 800px;
}

.pagina-inicial p {
  width: auto;
  max-width: 1000px;
}

.pagina-inicial .botao {
  background-color: #33562C;
  border: none;
  color: white;
  padding: 30px 50px;
  text-align: center;
  text-decoration: none;
  font-size: 2rem;
  border-radius: 50px;
  transition-duration: 0.4s;
  cursor: pointer;
  margin-top: 0px;
}

.pagina-inicial .botao:hover {
  background-color: #294523;
}

.pagina-inicial .navbar {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background: none;
  display: flex;
  margin-left: auto;
}

.pagina-inicial .navbar li a {
  color: white;
  text-align: center;
  padding: 14px 15px;
  text-decoration: none;
}

.pagina-inicial .navbar li a:hover {
  background-color: #294523;
}


/*================== PÁGINA DE LOGIN ===================*/
.pagina-login {
  background-image: url("/static/img/pagina-login.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  font-family: 'Slackey', cursive;
  margin: 0;
  padding: 0;
  min-height: 100vh;

  display: flex;
  flex-direction: column;
  justify-content: center; /* centraliza verticalmente */
  align-items: center;     /* centraliza horizontalmente */

  padding-top: 80px;       /* deixa espaço para o header fixo */
  box-sizing: border-box;
}

.pagina-login header  {
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
  background: #33562C;
  position: fixed;
  width: 100%;
  height: 60px;
  top: 0;
  left: 0;
  z-index: 1000;
}

.pagina-login .header-container {
  display: flex;
  align-items: center;
  height: 100%;
  padding-left: 20px;
}

.pagina-login .logo-pygreen {
  max-width: 100%;
  height: auto;
  width: 150px;
}


.pagina-login ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background: none;
  display: flex;
  margin-left: auto;
}

.pagina-login ul li a {
  color: white;
  text-align: center;
  padding: 14px 15px;
  text-decoration: none;
}

.pagina-login ul li a:hover {
  background-color: #294523;
}

.login-container {
  width: 90%;
  max-width: 400px;
  background-color: rgba(41, 69, 35, 0.75);
  padding: 30px;
  border-radius: 15px;
  color: #ffffff;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  margin-bottom: 80px;     /* espaço para o footer */
}

.login-container form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.login-container fieldset {
  border: none;
  padding: 0;
  margin: 0;
}

.login-container legend {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 10px;
  text-align: center;
}

.login-container label {
  font-weight: bold;
  margin-bottom: 5px;
}

.login-container input {
  width: 100%;
  padding: 12px;
  border: 1px solid rgba(28, 80, 63, 0.5);
  border-radius: 8px;
  box-sizing: border-box;
}

.login-container button {
  margin: 20px auto 0 auto;
  width: 50%;
  padding: 12px;
  background-color: #33562c;
  color: #fff;
  border: none;
  border-radius: 8px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease;
  display: flex;
  justify-content: center;
}

.login-container button:hover {
  background-color: #294523;
}

.login-container p {
  text-align: center;
  margin-top: 10px;
}

.login-container p a {
  color: #ffffff;
  font-weight: bold;
  text-decoration: underline;
}

.login-container p a:hover {
  color: #d4ffd4;
}

/*=============FLASH===================*/
.flash {
  padding: 10px;
  margin: 10px 0;
  border-radius: 8px;
  text-align: center;
}

.flash.success {
  background-color: #2b5329;
  color: white;
}

.flash.danger {
  background-color: #c0392b;
  color: white;
}
/* =================== PÁGINA DE MÓDULOS =================== */
.pagina-modulos {
  background-image: url("/static/img/pagina-modulos.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  min-height: 100vh;
  padding-top: 80px;
  font-family: 'Slackey', cursive;
  color: white;
}

.pagina-modulos header {
  box-shadow: 0px 0px 20px rgba(24, 85, 25, 0.649);
  background: #054215e6; 
  position: fixed;
  width: 100%;
  height: 60px;
  top: 0;
  left: 0;
  z-index: 1000;
}

.pagina-modulos .header-container {
  background-color: #054215;
  box-shadow: none;         
  position: fixed;
  width: 100%;
  height: 60px;
  top: 0;
  left: 0;
  z-index: 1000;
  display: flex;
  align-items: center;
  padding-left: 20px;
}

.pagina-modulos .conteudo {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;    
  min-height: calc(100vh - 80px); 
  padding-top: 20px;        
  width: 100%;               
  box-sizing: border-box;
}
.pagina-modulos .logo-pygreen {
  max-width: 100%;
  height: auto;
  width: 150px;
}


.pagina-modulos .navegador ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  margin-left: auto;
}

.pagina-modulos .navegador ul li a {
  color: white;
  text-align: center;
  padding: 14px 15px;
  text-decoration: none;
}

.pagina-modulos .navegador ul li a:hover {
  background-color: #b5d2b1;
}

/* =================== EXPLICAÇÃO DOS MÓDULOS =================== */
.explicacao-modulos {
  max-width: 700px;
  margin: 0 auto 15px auto; 
  color: #cff2c7;  
  background-color: rgba(0, 42, 12, 0.368);
  padding: 15px 20px;
  border-radius: 10px;
  text-align: center;
}

.explicacao-modulos h2 {
  font-size: 2rem;
  margin-bottom: 10px;
}

.explicacao-modulos p {
  font-size: 1.1rem;
  margin-bottom: 15px;
}

.explicacao-modulos ul {
  list-style-type: none;   
  padding: 0;
  margin: 0 auto;
  max-width: 400px; 
}

.explicacao-modulos ul li {
  font-size: 1rem;
  margin: 5px 0;
  text-align: left; 
}

/* =================== GRID DE MÓDULOS =================== */
.conteudo {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-height: calc(100vh - 80px);
  padding-top: 20px;
  position: relative;
  z-index: 1;
}

.modulos, .modulos li {
  list-style-type: none; 
  margin: 0;
  padding: 0;
}
.modulos, .modulos li {
  list-style-type: none; 
  margin: 0;
  padding: 0;
}

.modulos {
  display: grid;
  grid-template-columns: repeat(5, 120px);
  gap: 30px 100px;
  justify-items: center;
  margin: 0 auto 0px auto;
  max-width: 900px;
}

/* POSICIONAMENTO EM ONDA COM TRANSLATE Y */
.modulo:nth-child(1) { transform: translateY(50px); }
.modulo:nth-child(2) { transform: translateY(0px); }
.modulo:nth-child(3) { transform: translateY(45px); }
.modulo:nth-child(4) { transform: translateY(-10px); }
.modulo:nth-child(5) { transform: translateY(60px); }

.modulo {
  transition: transform 0.25s ease;
}

.modulo:hover {
  transform: scale(1.05);
}

.modulo img {
  width: 200px;
  border-radius: 10px;
}
a {
  text-decoration: none;
  color: inherit;
}
figcaption {
  margin-top: 8px;
  font-weight: bold;
  color: #b8ddb0;
  font-size: 16px;
  text-align: center;
}

.footer {
  width: 100%;
  background-color: #054215e6;
  color: white;
  box-sizing: border-box;
  padding: 20px 0;
  text-align: center;
  display: flex;
  flex-direction: column;  
  align-items: center;    
  gap: 10px;             
  margin: -10px;
}

.footer a {
  color: #74b865;
  text-decoration: none;
  margin: 0 5px;
}

.footer a:hover {
  text-decoration: underline;
}


/* RESPONSIVIDADE */
@media (max-width: 700px) {
  .modulos {
    grid-template-columns: repeat(3, 1fr);
    gap: 20px 20px;
  }
  .modulo:nth-child(1) { transform: translateY(20px); }
  .modulo:nth-child(2) { transform: translateY(0px); }
  .modulo:nth-child(3) { transform: translateY(15px); }
  .modulo:nth-child(4) { transform: translateY(0px); }
  .modulo:nth-child(5) { transform: translateY(20px); }
}

@media (max-width: 480px) {
  .modulo img { width: 100px; }
  figcaption { font-size: 14px; }
  .nav { flex-direction: column; gap: 10px; }
}

/* ================= CENTRALIZAÇÃO COMUM PARA TODAS AS PÁGINAS ================= */
.pagina-inicial .content-container,
.pagina-login .login-container,
.pagina-modulos .conteudo {
  display: flex;
  flex-direction: column;
  justify-content: center; 
  align-items: center;    
  flex: 1;    
  margin-bottom: 80px;  
}
/* ================= ESPAÇO PARA FOOTER ================= */
.pagina-inicial .content-container,
.pagina-login .login-container,
.pagina-modulos .conteudo {
  margin-bottom: 80px;
}


/* PAGINA DO MODULO 1 */

.modulo-1 {
  background-image: url("/static/img/modulo-1.png");
  min-height: 100vh;
  padding-top: 80px; /* espaço para o header fixo */
  font-family: 'Slackey', cursive;
  color: #2b5329;
}

.modulo-1 header {
  box-shadow: 0px 0px 20px rgba(24, 85, 25, 0.649);
  background: #054215e6; 
  position: fixed;
  width: 100%;
  height: 60px;
  top: 0;
  left: 0;
  z-index: 1000;
}

.modulo-1 .header-container {
  background-color: #054215;
  box-shadow: none;         
  position: fixed;
  width: 100%;
  height: 60px;
  top: 0;
  left: 0;
  z-index: 1000;
  display: flex;
  align-items: center;
  padding-left: 20px;
}

.modulo-1 .conteudo {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;    
  min-height: calc(100vh - 80px); 
  padding-top: 20px;        
  width: 100%;               
  box-sizing: border-box;
}

.modulo-1 .logo-pygreen {
  max-width: 100%;
  height: auto;
  width: 150px;
}


.modulo-1 .navegador ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  margin-left: auto;
}

.modulo-1 .navegador ul li a {
  color: white;
  text-align: center;
  padding: 14px 15px;
  text-decoration: none;
}

.modulo-1 .navegador ul li a:hover {
  background-color: #b5d2b1;
}

/* CONTEÚDO */
.modulo-1 .conteudo-modulo {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;    
  min-height: calc(100vh - 80px); 
  padding: 100px 20px 20px; 
  width: 100%;               
  box-sizing: border-box;
  text-align: center; 
}

/* Títulos principais */
.title-modulos {
  text-align: center;
  font-size: 3rem;
  margin: 30px auto;
  font-weight: bold;
  color: #136028;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
}

/* Subtítulo */
.subtitulo-modulo {
  max-width: 800px;
  margin: 0 auto 30px auto;
  text-align: center;
  padding: 15px;
  line-height: 1.6;
  font-size: 1.2rem;
  color: #333;
  background: #fdf2c784;
  border-radius: 8px;
  box-shadow: 0px 2px 6px rgba(0,0,0,0.1);
}

/* Títulos internos */
.modulo-1 h2 {
  font-size: 2rem;
  margin: 25px 0 15px;
  color: #2b5329;
  border-bottom: 2px solid #136028;
  display: inline-block;
  padding-bottom: 5px;
}

.modulo-1 h3 {
  font-size: 1.4rem;
  margin: 20px 0 10px;
  color: #136028;
}

/* Parágrafos */
.modulo-1 p {
  max-width: 800px;
  margin: 10px auto;
  line-height: 1.6;
  font-size: 1.1rem;
  color: #444;
}

/* Listas */
.modulo-1 ul {
  max-width: 700px;
  margin: 15px auto;
  padding-left: 20px;
  line-height: 1.6;
  list-style-type: none;
}

.modulo-1 ul li {
  margin: 10px;
}

/* Blocos de código */
.modulo-1 pre {
  background: #1e1e1e;
  color: #dcdcdc;
  padding: 15px;
  border-radius: 8px;
  max-width: 700px;
  margin: 20px auto;
  font-family: 'Courier New', monospace;
  font-size: 1rem;
  overflow-x: auto;
  box-shadow: 0px 4px 8px rgba(0,0,0,0.2);
  text-align: left;
}

/* Link de voltar */
.voltar-niveis {
  display: inline-block;
  margin: 30px auto;
  padding: 10px 20px;
  background: #136028;
  color: #fff;
  text-decoration: none;
  border-radius: 6px;
  transition: background 0.3s ease;
}

.voltar-niveis:hover {
  background: #2b5329;
}


.footer a {
  color: #74b865;
  text-decoration: none;
  margin: 0 5px;
}

.footer a:hover {
  text-decoration: underline;
}

.footer p{
  color: #e1f1dd;
}

/* PAGINA DO MODULO 2 */
.modulo-2 {
  background-image: url("/static/img/modulo-2.png"); /* imagem do módulo 2 */
  min-height: 100vh;
  padding-top: 80px;
  font-family: 'Slackey', cursive;
  color: #2b5329;
}


.modulo-2 header {
  box-shadow: 0px 0px 20px rgba(24, 85, 25, 0.649);
  background: #054215e6; 
  position: fixed;
  width: 100%;
  height: 60px;
  top: 0;
  left: 0;
  z-index: 1000;
}

.modulo-2 .header-container {
  background-color: #054215;
  box-shadow: none;         
  position: fixed;
  width: 100%;
  height: 60px;
  top: 0;
  left: 0;
  z-index: 1000;
  display: flex;
  align-items: center;
  padding-left: 20px;
}

.modulo-2 .conteudo {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;    
  min-height: calc(100vh - 80px); 
  padding-top: 20px;        
  width: 100%;               
  box-sizing: border-box;
}

.modulo-2 .logo-pygreen {
  max-width: 100%;
  height: auto;
  width: 150px;
}

.modulo-2 .navegador ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  margin-left: auto;
}

.modulo-2 .navegador ul li a {
  color: white;
  text-align: center;
  padding: 14px 15px;
  text-decoration: none;
}

.modulo-2 .navegador ul li a:hover {
  background-color: #b5d2b1;
}

/* CONTEÚDO */
.modulo-2 .conteudo-modulo {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;    
  min-height: calc(100vh - 80px); 
  padding: 100px 20px 20px; 
  width: 100%;               
  box-sizing: border-box;
  text-align: center; 
}

/* Títulos principais */
.title-modulos {
  text-align: center;
  font-size: 3rem;
  margin: 30px auto;
  font-weight: bold;
  color: #136028;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
}

/* Subtítulo */
.subtitulo-modulo {
  max-width: 800px;
  margin: 0 auto 30px auto;
  text-align: center;
  padding: 15px;
  line-height: 1.6;
  font-size: 1.2rem;
  color: #333;
  background: #fdf2c784;
  border-radius: 8px;
  box-shadow: 0px 2px 6px rgba(0,0,0,0.1);
}

/* Títulos internos */
.modulo-2 h2 {
  font-size: 2rem;
  margin: 25px 0 15px;
  color: #2b5329;
  border-bottom: 2px solid #136028;
  padding-bottom: 5px;
  text-align: center;
}


.modulo-2 h3 {
  font-size: 1.4rem;
  margin: 20px 0 10px;
  color: #136028;
}

/* Parágrafos */
.modulo-2 p {
  max-width: 800px;
  margin: 10px auto;
  line-height: 1.6;
  font-size: 1.1rem;
  color: #444;
}

/* Listas */
.modulo-2 ul {
  max-width: 700px;
  margin: 15px auto;
  padding-left: 20px;
  line-height: 1.6;
  list-style-type: none;
}

.modulo-2 ul li {
  margin: 10px;
}

/* Blocos de código */
.modulo-2 pre {
  background: #1e1e1e;
  color: #dcdcdc;
  padding: 15px;
  border-radius: 8px;
  max-width: 700px;
  margin: 20px auto;
  font-family: 'Courier New', monospace;
  font-size: 1rem;
  overflow-x: auto;
  box-shadow: 0px 4px 8px rgba(0,0,0,0.2);
  text-align: left;
}

/* Link de voltar */
.voltar-niveis {
  display: inline-block;
  margin: 30px auto;
  padding: 10px 20px;
  background: #136028;
  color: #fff;
  text-decoration: none;
  border-radius: 6px;
  transition: background 0.3s ease;
}

.voltar-niveis:hover {
  background: #2b5329;
}


.footer a {
  color: #74b865;
  text-decoration: none;
  margin: 0 5px;
}

.footer a:hover {
  text-decoration: underline;
}

.footer p {
  color: #e1f1dd;
}
/* PAGINA DO MODULO 3 */

.modulo-3 {
  background-image: url("/static/img/modulo-3.png");
  min-height: 100vh;
  padding-top: 80px;
  font-family: 'Slackey', cursive;
  color: #2b5329;
}

.modulo-3 header {
  box-shadow: 0px 0px 20px rgba(24, 85, 25, 0.649);
  background: #054215e6; 
  position: fixed;
  width: 100%;
  height: 60px;
  top: 0;
  left: 0;
  z-index: 1000;
}

.modulo-3 .header-container {
  background-color: #054215;
  box-shadow: none;         
  position: fixed;
  width: 100%;
  height: 60px;
  top: 0;
  left: 0;
  z-index: 1000;
  display: flex;
  align-items: center;
  padding-left: 20px;
}

.modulo-3 .conteudo {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;    
  min-height: calc(100vh - 80px); 
  padding-top: 20px;        
  width: 100%;               
  box-sizing: border-box;
}

.modulo-3 .logo-pygreen {
  max-width: 100%;
  height: auto;
  width: 150px;
}

.modulo-3 .navegador ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  margin-left: auto;
}

.modulo-3 .navegador ul li a {
  color: white;
  text-align: center;
  padding: 14px 15px;
  text-decoration: none;
}

.modulo-3 .navegador ul li a:hover {
  background-color: #b5d2b1;
}

/* CONTEÚDO */
.modulo-3 .conteudo-modulo {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;    
  min-height: calc(100vh - 80px); 
  padding: 100px 20px 20px; 
  width: 100%;               
  box-sizing: border-box;
  text-align: center; 
}

/* Títulos principais */
.title-modulos {
  text-align: center;
  font-size: 3rem;
  margin: 30px auto;
  font-weight: bold;
  color: #136028;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
}

/* Subtítulo */
.subtitulo-modulo {
  max-width: 800px;
  margin: 0 auto 30px auto;
  text-align: center;
  padding: 15px;
  line-height: 1.6;
  font-size: 1.2rem;
  color: #333;
  background: #fdf2c784;
  border-radius: 8px;
  box-shadow: 0px 2px 6px rgba(0,0,0,0.1);
}

/* Títulos internos */
.modulo-3 h2 {
  font-size: 2rem;
  margin: 25px 0 15px;
  color: #2b5329;
  border-bottom: 2px solid #136028;
  display: inline-block;
  padding-bottom: 5px;
}

.modulo-3 h3 {
  font-size: 1.4rem;
  margin: 20px 0 10px;
  color: #136028;
}

/* Parágrafos */
.modulo-3 p {
  max-width: 800px;
  margin: 10px auto;
  line-height: 1.6;
  font-size: 1.1rem;
  color: #444;
}

/* Listas */
.modulo-3 ul {
  max-width: 700px;
  margin: 15px auto;
  padding-left: 20px;
  line-height: 1.6;
  list-style-type: none;
}

.modulo-3 ul li {
  margin: 10px;
}

/* Blocos de código */
.modulo-3 pre {
  background: #1e1e1e;
  color: #dcdcdc;
  padding: 15px;
  border-radius: 8px;
  max-width: 700px;
  margin: 20px auto;
  font-family: 'Courier New', monospace;
  font-size: 1rem;
  overflow-x: auto;
  box-shadow: 0px 4px 8px rgba(0,0,0,0.2);
  text-align: left;
}

/* Link de voltar */
.voltar-niveis {
  display: inline-block;
  margin: 30px auto;
  padding: 10px 20px;
  background: #136028;
  color: #fff;
  text-decoration: none;
  border-radius: 6px;
  transition: background 0.3s ease;
}

.voltar-niveis:hover {
  background: #2b5329;
}

.footer a {
  color: #74b865;
  text-decoration: none;
  margin: 0 5px;
}

.footer a:hover {
  text-decoration: underline;
}

.footer p {
  color: #e1f1dd;
}

/* PAGINA DO MODULO 4 */

.modulo-4 {
  background-image: url("/static/img/modulo-4.png");
  min-height: 100vh;
  padding-top: 80px;
  font-family: 'Slackey', cursive;
  color: #2b5329;
}

.modulo-4 header {
  box-shadow: 0px 0px 20px rgba(24, 85, 25, 0.649);
  background: #054215e6; 
  position: fixed;
  width: 100%;
  height: 60px;
  top: 0;
  left: 0;
  z-index: 1000;
}

.modulo-4 .header-container {
  background-color: #054215;
  box-shadow: none;         
  position: fixed;
  width: 100%;
  height: 60px;
  top: 0;
  left: 0;
  z-index: 1000;
  display: flex;
  align-items: center;
  padding-left: 20px;
}

.modulo-4 .conteudo {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;    
  min-height: calc(100vh - 80px); 
  padding-top: 20px;        
  width: 100%;               
  box-sizing: border-box;
}

.modulo-4 .logo-pygreen {
  max-width: 100%;
  height: auto;
  width: 150px;
}


.modulo-4 .navegador ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  margin-left: auto;
}

.modulo-4 .navegador ul li a {
  color: white;
  text-align: center;
  padding: 14px 15px;
  text-decoration: none;
}

.modulo-4 .navegador ul li a:hover {
  background-color: #b5d2b1;
}

/* CONTEÚDO */
.modulo-4 .conteudo-modulo {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;    
  min-height: calc(100vh - 80px); 
  padding: 100px 20px 20px; 
  width: 100%;               
  box-sizing: border-box;
  text-align: center; 
}

/* Títulos principais */
.title-modulos {
  text-align: center;
  font-size: 3rem;
  margin: 30px auto;
  font-weight: bold;
  color: #136028;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
}

/* Subtítulo */
.subtitulo-modulo {
  max-width: 800px;
  margin: 0 auto 30px auto;
  text-align: center;
  padding: 15px;
  line-height: 1.6;
  font-size: 1.2rem;
  color: #333;
  background: #fdf2c784;
  border-radius: 8px;
  box-shadow: 0px 2px 6px rgba(0,0,0,0.1);
}

/* Títulos internos */
.modulo-4 h2 {
  font-size: 2rem;
  margin: 25px 0 15px;
  color: #2b5329;
  border-bottom: 2px solid #136028;
  display: inline-block;
  padding-bottom: 5px;
}

.modulo-4 h3 {
  font-size: 1.4rem;
  margin: 20px 0 10px;
  color: #136028;
}

/* Parágrafos */
.modulo-4 p {
  max-width: 800px;
  margin: 10px auto;
  line-height: 1.6;
  font-size: 1.1rem;
  color: #444;
}

/* Listas */
.modulo-4 ul {
  max-width: 700px;
  margin: 15px auto;
  padding-left: 20px;
  line-height: 1.6;
  list-style-type: none;
}

.modulo-4 ul li {
  margin: 10px;
}

/* Blocos de código */
.modulo-4 pre {
  background: #1e1e1e;
  color: #dcdcdc;
  padding: 15px;
  border-radius: 8px;
  max-width: 700px;
  margin: 20px auto;
  font-family: 'Courier New', monospace;
  font-size: 1rem;
  overflow-x: auto;
  box-shadow: 0px 4px 8px rgba(0,0,0,0.2);
  text-align: left;
}

/* Link de voltar */
.voltar-niveis {
  display: inline-block;
  margin: 30px auto;
  padding: 10px 20px;
  background: #136028;
  color: #fff;
  text-decoration: none;
  border-radius: 6px;
  transition: background 0.3s ease;
}

.voltar-niveis:hover {
  background: #2b5329;
}

.footer a {
  color: #74b865;
  text-decoration: none;
  margin: 0 5px;
}

.footer a:hover {
  text-decoration: underline;
}

.footer p {
  color: #e1f1dd;
}

/* PAGINA DO MODULO 5 */

.modulo-5 {
  background-image: url("/static/img/modulo-5.png");
  min-height: 100vh;
  padding-top: 80px;
  font-family: 'Slackey', cursive;
  color: #2b5329;
}

/* Header */
.modulo-5 header {
  box-shadow: 0px 0px 20px rgba(24, 85, 25, 0.649);
  background: #054215e6;
  position: fixed;
  width: 100%;
  height: 60px;
  top: 0;
  left: 0;
  z-index: 1000;
}

.modulo-5 .header-container {
  background-color: #054215;
  box-shadow: none;
  position: fixed;
  width: 100%;
  height: 60px;
  top: 0;
  left: 0;
  z-index: 1000;
  display: flex;
  align-items: center;
  padding-left: 20px;
}

.modulo-5 .logo-pygreen {
  max-width: 100%;
  height: auto;
  width: 150px;
}



.modulo-5 .navegador ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  margin-left: auto;
}

.modulo-5 .navegador ul li a {
  color: white;
  text-align: center;
  padding: 14px 15px;
  text-decoration: none;
}

.modulo-5 .navegador ul li a:hover {
  background-color: #ffffff;
}

/* Conteúdo */
.modulo-5 .conteudo-modulo {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-height: calc(100vh - 80px);
  padding: 100px 20px 20px;
  width: 100%;
  box-sizing: border-box;
  text-align: center;
}

/* Títulos principais */
.title-modulos {
  text-align: center;
  font-size: 3rem;
  margin: 30px auto;
  font-weight: bold;
  color: #136028;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
}

/* Subtítulo */
.subtitulo-modulo {
  max-width: 800px;
  margin: 0 auto 30px auto;
  text-align: center;
  padding: 15px;
  line-height: 1.6;
  font-size: 1.2rem;
  color: #333;
  background: #ffffff84;
  border-radius: 8px;
  box-shadow: 0px 2px 6px rgba(0,0,0,0.1);
}

/* Títulos internos */
.modulo-5 h2 {
  font-size: 2rem;
  margin: 25px 0 15px;
  color: #2b5329;
  border-bottom: 2px solid #136028;
  display: inline-block;
  padding-bottom: 5px;
}

.modulo-5 h3 {
  font-size: 1.4rem;
  margin: 20px 0 10px;
  color: #136028;
}

/* Parágrafos */
.modulo-5 p {
  max-width: 800px;
  margin: 10px auto;
  line-height: 1.6;
  font-size: 1.1rem;
  color: #444;
}

/* Listas */
.modulo-5 ul {
  max-width: 700px;
  margin: 15px auto;
  padding-left: 20px;
  line-height: 1.6;
  list-style-type: none;
}

.modulo-5 ul li {
  margin: 10px;
}

/* Blocos de código */
.modulo-5 pre {
  background: #1e1e1e;
  color: #dcdcdc;
  padding: 15px;
  border-radius: 8px;
  max-width: 700px;
  margin: 20px auto;
  font-family: 'Courier New', monospace;
  font-size: 1rem;
  overflow-x: auto;
  box-shadow: 0px 4px 8px rgba(0,0,0,0.2);
  text-align: left;
}

/* Link de voltar */
.voltar-niveis {
  display: inline-block;
  margin: 30px auto;
  padding: 10px 20px;
  background: #136028;
  color: #fff;
  text-decoration: none;
  border-radius: 6px;
  transition: background 0.3s ease;
}

.voltar-niveis:hover {
  background: #112410;
}


.footer a {
  color: #74b865;
  text-decoration: none;
  margin: 0 5px;
}

.footer a:hover {
  text-decoration: underline;
}

.footer p {
  color: #e1f1dd;
}
/* SOBRE */
.pagina-sobre {
  background-image: url("/static/img/pagina-sobre.png");
  min-height: 100vh;
  padding-top: 80px;
  font-family: 'Slackey', cursive;
  color: #e8ffe7;
}

.pagina-sobre header {
  box-shadow: 0px 0px 20px rgba(0, 42, 0, 0.682);
  background: #0c2211e6; 
  position: fixed;
  width: 100%;
  height: 60px;
  top: 0;
  left: 0;
  z-index: 1000;
}

.pagina-sobre .header-container {
  background-color: #054215;
  box-shadow: none;         
  position: fixed;
  width: 100%;
  height: 60px;
  top: 0;
  left: 0;
  z-index: 1000;
  display: flex;
  align-items: center;
  padding-left: 20px;
}

.pagina-sobre .logo-pygreen {
  max-width: 100%;
  height: auto;
  width: 150px;
}

.pagina-sobre .navbar {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background: none;
  display: flex;
  margin-left: auto;
}

.pagina-sobre .navbar li a {
  color: rgb(255, 255, 255);
  text-align: center;
  padding: 14px 15px;
  text-decoration: none;
}

.pagina-sobre .navbar li a:hover {
  background-color: #1c2a19;
}

/* ================= CARDS ================= */
.cards-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
  margin: 40px auto;
  max-width: 1200px;
  padding: 0 20px;
}
.card {
  background-color: rgba(65, 99, 58, 0.85); /* fundo inicial */
  color: #e1e1e1;
  font-family: 'Slackey', cursive;
  width: 300px;
  border-radius: 15px;
  overflow: hidden;
  box-shadow: 0 4px 15px rgba(15, 1, 1, 0.35);
  transition: transform 0.3s ease, box-shadow 0.3s ease, background-color 0.3s ease;
  text-align: center;
}

.card:hover {
  transform: translateY(-10px) scale(1.05);
  box-shadow: 0 12px 30px rgba(15, 1, 1, 0.6);
  background-color: rgba(65, 99, 58, 1); /* fundo totalmente opaco */
}



.card img {
  width: 100%;
  height: 300px;
  object-fit: cover;
  border-bottom: 3px solid #3aff6c;
}

.card-content {
  padding: 20px;
}

.card-content h3 {
  font-size: 1.8rem;
  margin-bottom: 10px;
  color: #699e5d;
}

.card-content p {
  font-size: 1rem;
  line-height: 1.4;
  color: #e1f1dd;
}

/* Botão dentro do card */
.card-content .card-btn {
  margin-top: 15px;
  padding: 10px 20px;
  background-color: #223a1d;
  color: white;
  border: none;
  border-radius: 8px;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}


.card-content .card-btn:hover {
  background-color: #273d22;
}


.footer {
  width: 100.7%;
  background-color: #054215e6;
  color: white;
  box-sizing: border-box;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px 0; /* dá um pouco de espaço interno */
}


/* RESPONSIVIDADE */
@media (max-width: 900px) {
  .cards-container {
    gap: 20px;
  }
  .card {
    width: 45%;
  }
}

@media (max-width: 600px) {
  .card {
    width: 90%;
  }
  .card-content h3 {
    font-size: 1.5rem;
  }
  .card-content p {
    font-size: 0.95rem;
  }
}

.sobre-title{
  text-align: center;
  font-size: 3rem;
  margin: 30px auto;
  font-weight: bold;
  color: #e1f6e6;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
}

.text-sobre{
  max-width: 800px;
  margin: 10px auto;
  line-height: 1.6;
  font-size: 1.1rem;
  color: #f3f8f3;
}