<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
<footer class="footer">
  <p>&copy; 2025 PyGreen 2.0. Todos os direitos reservados.</p>
  <div class="footer-links">
    <a href="{{ url_for('index') }}">Home</a> | 
    <a href="#">Contato</a> | 
    <a href="#">Sobre</a>
  </div>
  <p class="footer-slogan">🌱 Aprenda programação de forma divertida!</p>
</footer>
</body>
</html>