<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Pygreen</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" />
  <link rel="icon" href="/static/img/icon.png" type="image/x-icon">
</head>
<body class="pagina-inicial">
<header>
  <div class="header-container">
    <img class="logo-pygreen" src="{{ url_for('static', filename='img/logo.png') }}" alt="Logo do Pygreen" />

    <nav class="navegador">
      <ul class="navbar">
        <li><a href="{{ url_for('contato') }}">Contato</a></li>
        <li><a href="{{ url_for('sobre') }}">Sobre</a></li>
      </ul>
    </nav>
  </div>
</header>

<main class="content-container">
  <h1 class="bemvindo">Seja Bem-Vindo!</h1>
  <p class="text-entrada1">
    Prepare-se para dar os primeiros passos na criação de sites e mergulhar na
    introdução à linguagem Python! Neste mundo cheio de aventuras e
    descobertas, você vai explorar os fundamentos da programação, construir
    suas primeiras páginas web e começar a dominar Python. Desperte o Dev
    Mestre que há em você e comece sua jornada no universo da tecnologia!
  </p>
  <a class="botao" href="{{ url_for('login') }}" role="button" aria-label="Entrar no Pygreen">ENTRE</a>
</main>

{% include 'footer.html' %}
</body>
</html>
