<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8">
  <title>Módulo {{ num }}</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>

  <header>
    <div class="header-container">
      <img class="logo-pygreen" src="{{ url_for('static', filename='img/logo.png') }}" alt="logo" />
      <img class="pygreen" src="{{ url_for('static', filename='img/nome_pygreen.png') }}" alt="Pygreen Nome" height="50"/>
      <nav class="navegador">
        <ul>
          <li><a href="{{ url_for('index') }}">Home</a></li>
          <li><a href="#">Contato</a></li>
          <li><a href="#">Sobre</a></li>
        </ul>
      </nav>
    </div>
  </header>

  <h1>🌿 Bem-vindo ao Módulo {{ num }}</h1>
  <p>Aqui vai o conteúdo do módulo {{ num }}.</p>

  <a href="{{ url_for('niveis') }}">⬅ Voltar aos níveis</a>
  {% include 'footer.html' %}
</body>
</html>
