<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8">
  <title>Pygreen - Níveis</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body class="pagina-modulos">
  <header>
    <div class="header-container">
      <img class="logo-pygreen" src="{{ url_for('static', filename='img/LogoPygreen.png') }}" alt="logo" />
      <img class="pygreen" src="{{ url_for('static', filename='img/nome_pygreen.png') }}" alt="Pygreen Nome" height="50"/>
    </div>
  </header>

  <main>
    <ol class="modulos">
      {% for i in range(1,6) %}
      <li class="modulo modulo{{ i }}">
        <a href="{{ url_for('modulo', num=i) }}">
          <figure>
            <img src="{{ url_for('static', filename='img/mudinha-' ~ i ~ '.png') }}" alt="Módulo {{ i }}">
            <figcaption>Módulo {{ i }}</figcaption>
          </figure>
        </a>
      </li>
      {% endfor %}
    </ol>
  </main>
</body>
</html>
